@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .fcsOffCls {
    @apply after:content-[''] after:absolute after:w-full after:h-[1px] after:bg-black dark:after:bg-[#d9d9d9] after:left-0 after:bottom-0 after:transition-all after:duration-1000 after:scale-x-0
  }
  .fcsOnCls{
    @apply after:scale-x-100 text-[#42b983] after:bg-green-800
  }
  .darkMode{
    @apply dark:border-[#3b3b3b] dark:bg-[#292929] dark:text-[#d9d9d9];
  }
}

body{background-color: #f7f8f9; font-family: 'TheJamsil5Bold';}
.dark body{background-color: #333;}

/* 더잠실체 */
.TheJamsilThin{font-family: 'TheJamsil1Thin';}
.TheJamsilRegular{font-family: 'TheJamsil3Regular';}
.TheJamsilMedium{font-family: 'TheJamsil4Medium';}
.thejamsilBold{font-family: 'TheJamsil5Bold';}
/* TheJamsil4Medium */
@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TheJamsil1Thin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil1Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'TheJamsil3Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TheJamsil4Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil4Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
